/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h1 {
    font-size: 72px;
}

.container {
    width: 900px;
    margin: 19px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

nav .nav-items {
    width: 601px;
    margin: 10px 10px 10px 12px;
	font-size: 14px;
	justify-content: space-between;
	align-items: center;
}

.nav a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: darkslategrey;
}

nav .logo {
    width: 183px;
    margin: 10px;
	justify-content: flex-end;
}

header {
	width: 900px;
	display: flex;
	justify-content: flex-end;
    align-items: center;
    margin: 42px 8px 40px 0;
    padding-bottom: 8px;
}

header .getting-started {
    width: 449px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

header .getting-started .start {
    font-size: 10;
    margin: 14px 10px;
	padding: 8px 45px;
	border: 1px solid black;
}

header .snippet {
	width: 380px;
	margin: 20px 0 25px 3px;
	justify-content: flex-end;
}

main {
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

main .top {
    width: 879px;
    margin: 0 auto;
	display: flex;
}

.features-and-about p {
    margin: 22px 0;
    font-size: 17px;
}

main .top .features-and-about {
    margin: auto;
    padding-top: 36px;
    border-top: 1px solid black;
	justify-content: flex-start;
}

main .middle {
    width: 879px;
    margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .middle .middle-img {
    width: 877px;
    margin-top: 10.5px;
}

main .bottom {
    width: 880px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 37px;
}

main .bottom .services, .product, .vision {
    width: 274px;
    margin-top: 32px;
    margin-left: 3px;
    justify-content: flex-start;
    line-height: 1.1;
}

.contact {
	width: 880px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    border-top: 1px solid black;
}

.contact h2 {
    margin-top: 36px;
}

address p {
    padding: 2px 0 18px 0;
}

.contact p {
    padding: 1px 0 15px 0;
}

footer {
    width: 900px;
    margin-top: 26px;
	display: flex;
	justify-content: center;
}

/* ========================================= tablet */

@media (max-width: 800px) {
    h2 {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
    }

    .container {
        width: 780px;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        border: 0.1px solid red;
    }

    nav {
        width: 760px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    nav .nav-items {
        width: 700px;
        margin-top: 30px;
        margin-left: 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav .logo {
        width: 183px;
        margin: 10px 0 10px 40px;
        align-items: center;
    }

    header {
	    width: 760px;
	    display: flex;
	    justify-content: center;
        align-items: center;
        margin: 57px 0 20px 20px;
	    padding-bottom: 8px;
    }

    header .getting-started {
	    width: 760px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    header .getting-started .start {
        font-size: 10;
        margin: 12px 10px;
	    padding: 8px 45px;
	    border: 1px solid black;
    }

    header .snippet {
        display: none;
    }

    main {
	    width: 799px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
    }

    main .top {
        width: 740px;
        margin: 37px 0 20px 0;
        display: flex;
        justify-content: space-between;
    }

    main .top .features-and-about {
       width: 760px;
    }

    main .top .features-and-about p {
        width: 350px;
        margin: 0;
        padding: 0;
    }

    main .middle {
        width: 760px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
	    justify-content: center;
        align-items: center;
    }

    main .middle .middle-img {
        width: 760px;
}

    main .bottom {
        width: 760px;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-wrap: wrap;
        padding-bottom: 36px;
    }

    main .bottom .services, .product, .vision {
        margin-top: 30px;
    }

    main .bottom .services {
        width: 215px;
        margin: 30px 0 0 5px;
        padding: 0;
    }

    main .bottom .product {
        width: 215px;
	    margin: 30px 0 0 0;
        padding: 0;
    }

    main .bottom .vision {
        width: 215px;
	    margin: 30px 25px 0 0;
        padding: 0;
    }
    
    .contact {
        width: 760px;
        margin-left: 20px;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
    }

    .contact h2 {
	    margin: 39px 10px 15px 10px;
    }

    .contect address, p {
        margin-left: 10px;
    }

    footer {
        width: 740px;
        margin: 28px;
	    display: flex;
	    justify-content: center;
    }
}